<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Write your own article</a></li>
{#        <li><a href="generic.html">Tempus etiam</a></li>#}
    </ul>
</nav>